* {
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    padding-top: 50px;
    height: 100px;
    text-align: center;
    background-color: black;
    color: white;
}

main {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    width: 750px;
}

p {
    font-size: 20px;
    border-style: solid;
    border-width: 1px;
}
div.row {
    display: table-row;
}
div.lb {
    border: 1px solid #ccc;
    display: table-cell;
    padding: 3px 0 3px 5px;
}
div.col-right {
    border-collapse: collapse;
    display: table;
    width: 750px;
}
nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

.p_one {
    border-color: red;
}

form {
    padding-left: 0;
}
.policy {
    padding: 25px;
}
.col-right {
    font-size: 20px;
    text-align: left;
    padding-left: 0;
    padding-right: 200px;
}

.col-right {
    border: solid 1px black;
}
p.policy {
    border-style: none;
    border-width: 0;
}
.policy-p {
    border-bottom: 2px dashed #333;
    border-top: 2px dashed #333;
    text-align: center;
}
.policy-content {
    overflow-y: scroll;
    height: 100px;
    padding: 10px;
    border: 1px solid #696969;
}
h3 {
    height: 50px;
    text-align: center;
    background-color: black;
    color: white;
    padding-bottom: inherit;
}
